<style>

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

.view-outfits1-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.view-outfits1-view-outfits {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 176, 160, 0.800000011920929);
}
.view-outfits1-rectangle10 {
  top: 198px;
  left: 0px;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.view-outfits1-text {
  top: 369px;
  left: 720px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text02 {
  top: 216px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  width: 441px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-rectangle26 {
  top: 44px;
  left: 1435px;
  width: 107px;
  height: 67px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.view-outfits1-rectangle4 {
  top: 43px;
  left: 415px;
  width: 950px;
  height: 68px;
  position: absolute;
}
.view-outfits1-text04 {
  top: 69px;
  left: 1103px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text06 {
  top: 69px;
  left: 1450px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text08 {
  top: 67px;
  left: 1000px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text10 {
  top: 67px;
  left: 809px;
  color: rgba(0, 0, 0, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text12 {
  top: 67px;
  left: 647px;
  color: rgba(0, 0, 0, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text14 {
  top: 67px;
  left: 529px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text16 {
  top: 67px;
  left: 432px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text18 {
  top: 67px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-rectangle27 {
  top: 107px;
  left: 1103px;
  width: 116px;
  height: 4px;
  position: absolute;
}
.view-outfits1-rectangle29 {
  top: 364px;
  left: 572px;
  width: 62px;
  height: 30px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.view-outfits1-text20 {
  top: 369px;
  left: 577px;
  color: rgba(0, 0, 0, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-rectangle1 {
  top: 400px;
  left: 0px;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.view-outfits1-text22 {
  top: 369px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.view-outfits1-text22 input{
  width: 235px;
}

.view-outfits1-rectangle28 {
  top: 364px;
  left: 82px;
  width: 240px;
  height: 30px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.view-outfits1-rectangle35 {
  top: 364px;
  left: 327px;
  width: 240px;
  height: 30px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.view-outfits1-rectangle36 {
  top: 364px;
  left: 637px;
  width: 80px;
  height: 30px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

.view-outfits1-text24 {
  top: 369px;
  left: 330px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.view-outfits1-text24 input{
  width: 235px;
}

.view-outfits1-rectangle30 {
  top: 364px;
  left: 719px;
  width: 148px;
  height: 30px;
  opacity: 0.20;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.view-outfits1-text26 {
  top: 369px;
  left: 640px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-outfits1-text28 {
  top: 369px;
  left: 650px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

    .img-outfit {
      width: 200px;
      height: 200px;
      object-fit: contain;
      border: 1px solid black; /* Add border */
      background-color: #f1f1f1; /* Add background color */
    }

    .outfit-container {
      position: absolute;
      top: 410px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
}
    }

    .outfit-item {
      margin: 10px;
      width: 200px;
      position: relative;
    }

    .download-button {
      display: inline-block;
      padding: 8px 12px;
      background-color: #30D5C8;
      color: #000;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -5px; /* Adjust the value to move the button down */
    }

    .download-button:hover {
      background-color: #45a049;
    }

    /* Increase the size of the checkbox */
    input[type="checkbox"] {
      width: 200px;
      height: 20px;
    }
    .add-outfits{
  top:67px;
  left: 1253px;
  color: rgba(0, 0, 0, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

</style>

<div>
  <link href="./view-outfits1.css" rel="stylesheet" />
  <div class="view-outfits1-container">
    <div class="view-outfits1-view-outfits">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/c4a612fc-a473-4301-a47a-de14bc9b9570?org_if_sml=16511"
        alt="Rectangle102873"
        class="view-outfits1-rectangle10"
      />
      <span class="view-outfits1-text02"><span>My Outfit</span></span>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/22ef1745-e5eb-4eef-9b26-ce6cb46e32a6?org_if_sml=1251"
        alt="Rectangle264682"
        class="view-outfits1-rectangle26"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/9421700a-3ddb-4ed2-b6ea-cc3d0bdb4304?org_if_sml=1465"
        alt="Rectangle44683"
        class="view-outfits1-rectangle4"
      />
      <span class="view-outfits1-text04"><a href="{% url 'view_outfit' %}">View Outfits</span></a></span>
      <span class="view-outfits1-text06"><a href="{% url 'logout' %}?next=/"><span>LOGOUT</span></a></span>
      <span class="view-outfits1-text08"><a href="{% url 'test' %}">Merge</span></a></span>
      <span class="view-outfits1-text10"><a href="{% url 'view_clothing' %}?next=/"><span>View Clothings</span></a></span>
      <span class="view-outfits1-text12"><a href="{% url 'add_clothing' %}?next=/"><span>Add Clothing</span></a></span>
      <span class="view-outfits1-text14"><a href="{% url 'about' %}"><span>About</span></a></span>
      <span class="view-outfits1-text16"><a href="/"><span>Home</span></a></span>
      <span class="view-outfits1-text18"><a href="/"><span>Placard De Porche</span></a></span>
      <span class="add-outfits"><a href="{% url 'add_outfit' %}?next=/"><span>Add Outfit</span></a></span>

      <img
        src="/rectangle274610-3o8.svg"
        alt="Rectangle274610"
        class="view-outfits1-rectangle27"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/5ce49f5d-1470-470e-9301-234642e1793c?org_if_sml=1312"
        alt="Rectangle299374"
        class="view-outfits1-rectangle29"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/bc652709-0a32-426e-b559-fc06c4c24193?org_if_sml=13007"
        alt="Rectangle19365"
        class="view-outfits1-rectangle1"
      />

      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/bfa40ed6-12dd-4d9c-9a72-f88d0021deb6?org_if_sml=1359"
        alt="Rectangle289368"
        class="view-outfits1-rectangle28"
      />

      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/bfa40ed6-12dd-4d9c-9a72-f88d0021deb6?org_if_sml=1359"
        alt="Rectangle289368"
        class="view-outfits1-rectangle35"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/bfa40ed6-12dd-4d9c-9a72-f88d0021deb6?org_if_sml=1359"
        alt="Rectangle289368"
        class="view-outfits1-rectangle36"
      />
      
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/bc4ec604-fc69-4389-b5ac-122fb8097173?org_if_sml=1330"
        alt="Rectangle309377"
        class="view-outfits1-rectangle30"
      />
        <div class="search-form">
    <form method="GET" action="{% url 'view_outfit' %}">
      <span class="view-outfits1-text22"><span><input type="text" name="q" placeholder="Search outfit" value="{{ request.GET.q }}"></span></span>
      <span class="view-outfits1-text24"><span><input type="text" name="category" placeholder="Category" value="{{ request.GET.category }}"></span></span>
      <span class="view-outfits1-text20"><span><button type="submit">Search</button></span></span>
      <span class="view-outfits1-text26"><span>      <select name="sort">
        <option value="">Default</option>
        <option value="oldest" {% if request.GET.sort == 'oldest' %}selected{% endif %}>Oldest</option>
        <option value="newest" {% if request.GET.sort == 'newest' %}selected{% endif %}>Newest</option>
      </select></span></span>          

    </form>

  </div>
  <form method="POST" action="{% url 'delete_outfit' %}">
    {% csrf_token %}
    <div class="outfit-container">
      {% for item in outfit %}
        <div class="outfit-item">
          <label>
            <input type="checkbox" name="outfit" value="{{ item.id }}">
            <div class="outfit-details">
              <h3>{{ item.name }}</h3>
              <p>Category: {{ item.category }}</p>
            </div>
            <div class="outfit-image">
              {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-outfit">
                <a href="{{ item.image.url }}" download class="download-button">Download</a>
              {% else %}
                <p>No image available</p>
              {% endif %}
            </div>
          </label>
        </div>
      {% endfor %}
    </div>
    <span class="view-outfits1-text">
      <span><button type="submit">Delete Selected Outfit</button></span>
    </span>
  </form>

    </div>
  </div>
</div>
