<style>

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-about {
  width: 100%;
  height: 2730px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 176, 160, 0.800000011920929);
}
.about-rectangle10 {
  top: 198px;
  left: 0px;
  width: 100%;
  height: 750px;
  position: absolute;
}
.about-rectangle2 {
  top: 595px;
  left: 112px;
  width: 447px;
  height: 234px;
  position: absolute;
}
.about-rectangle3 {
  top: 354px;
  left: 58px;
  width: 257px;
  height: 416px;
  position: absolute;
}

.decor {
  top: 1090px;
  left: 1500px;
  width: 257px;
  height: 1575px;
  position: absolute;
}

.about-text {
  top: 216px;
  left: 88px;
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-rectangle11 {
  top: 385px;
  left: 176px;
  width: 343px;
  height: 354px;
  position: absolute;
}
.about-text02 {
  top: 216px;
  left: 900px;
  color: rgb(0, 0, 0);
  right: 40px;
  width: 750px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.about-text06 {
  color: var(--dl-color-gray-500);
  font-size: 25px;
  font-family: Lato;
}
.about-text07 {
  font-size: 25px;
  font-family: Lato;
}
.about-text08 {
  font-size: 25px;
  font-family: Lato;
}
.about-text10 {
  color: var(--dl-color-gray-500);
  font-size: 25px;
}
.about-text11 {
  color: var(--dl-color-gray-500);
  font-size: 25px;
}
.about-text12 {
  color: var(--dl-color-gray-500);
  font-size: 25px;
}
.about-text13 {
  color: var(--dl-color-gray-500);
  font-size: 25px;
}
.about-text14 {
  color: var(--dl-color-gray-500);
  font-size: 25px;
}
.about-frame1 {
  top: 978px;
  left: 4px;
  width: 1431px;
  height: 1680px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-rectangle12 {
  top: 319px;
  left: 83px;
  width: 359px;
  height: 646px;
  position: absolute;
}
.about-rectangle13 {
  top: 319px;
  left: 552px;
  width: 359px;
  height: 646px;
  position: absolute;
}
.about-rectangle19 {
  top: 367px;
  left: 654px;
  width: 155px;
  height: 141px;
  position: absolute;
}
.about-rectangle14 {
  top: 319px;
  left: 1008px;
  width: 359px;
  height: 646px;
  position: absolute;
}
.about-text15 {
  top: 533px;
  left: 1075px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text17 {
  top: 550px;
  color: rgb(0, 0, 0);
  left: 1022px;
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  text-align: justify;
}
.about-rectangle15 {
  top: 1055px;
  left: 281px;
  width: 359px;
  height: 646px;
  position: absolute;
}
.about-rectangle16 {
  top: 1055px;
  left: 822px;
  width: 359px;
  height: 646px;
  position: absolute;
}
.about-text26 {
  top: 550px;
  left: 96px;
  color: rgb(0, 0, 0);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  text-align: justify;
}
.about-text35 {
  top: 533px;
  left: 135px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text37 {
  top: 533px;
  left: 625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text39 {
  top: 550px;
  left: 566px;
  color: rgb(0, 0, 0);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  text-align: justify;
}
.about-text50 {
  top: 1290px;
  left: 345px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text52 {
  top: 1350px;
  left: 294px;
  color: rgb(0, 0, 0);
  width: 330px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  text-align: justify;
}
.about-text60 {
  top: 1290px;
  left: 900px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text62 {
  top: 1272px;
  left: 836px;
  color: rgb(0, 0, 0);
  width: 330px;
  bottom: 63px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  text-align: justify;
}
.about-rectangle18 {
  top: 360px;
  left: 167px;
  width: 180px;
  height: 149px;
  position: absolute;
}
.about-rectangle20 {
  top: 360px;
  left: 1098px;
  width: 180px;
  height: 149px;
  position: absolute;
}
.about-rectangle21 {
  top: 1105px;
  left: 370px;
  width: 180px;
  height: 149px;
  position: absolute;
}
.about-rectangle22 {
  top: 1115px;
  left: 910px;
  width: 180px;
  height: 149px;
  position: absolute;
}
.about-rectangle25 {
  top: 117px;
  left: 468px;
  width: 903px;
  height: 158px;
  position: absolute;
}
.about-text73 {
  top: 155px;
  left: 500px;
  color: rgba(0, 0, 0, 1);
  width: 905px;
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-rectangle24 {
  top: 1px;
  left: 80px;
  width: 577px;
  height: 151px;
  position: absolute;
}
.about-text75 {
  top: 30px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  width: 528px;
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-rectangle26 {
  top: 66px;
  left: 1435px;
  width: 107px;
  height: 67px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.about-rectangle4 {
  top: 65px;
  left: 415px;
  width: 950px;
  height: 68px;
  position: absolute;
}
.about-text77 {
  top: 91px;
  left: 1103px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text79 {
  top: 90px;
  left: 1450px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text81 {
  top: 89px;
  left: 1000px;
  color: rgba(0, 0, 0, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text83 {
  top: 89px;
  left: 809px;
  color: rgba(0, 0, 0, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text85 {
  top: 89px;
  left: 647px;
  color: rgba(0, 0, 0, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text87 {
  top: 89px;
  left: 529px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text89 {
  top: 89px;
  left: 432px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text91 {
  top: 89px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-rectangle27 {
  top: 129px;
  left: 529px;
  width: 57px;
  height: 4px;
  position: absolute;
}
.add-outfits{
  top:89px;
  left: 1253px;
  color: rgba(0, 0, 0, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
</style>
<div>
  <link href="./about.css" rel="stylesheet" />
  <div class="about-container">
    <div class="about-about">
      <img
        alt="Rectangle102566"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/7646d505-1ffb-46de-afc8-ac673af29d42?org_if_sml=119766"
        class="about-rectangle10"
      />
      <img
        alt="Rectangle22552"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/070a9ebf-29e5-45a9-96e9-806f48c3f06d?org_if_sml=1955"
        class="about-rectangle2"
      />
      <img
        alt="Rectangle32554"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/b6fa420d-d53a-4450-92df-8b72bace4fb2?org_if_sml=11303"
        class="about-rectangle3"
      />

      <img
        alt="Rectangle325542"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/b6fa420d-d53a-4450-92df-8b72bace4fb2?org_if_sml=11303"
        class="decor"
      />

      <span class="about-text"><span>About</span></span>
      <img
        alt="Rectangle11392"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/8a12e552-9f47-40fc-acec-4ede174fbcdf?org_if_sml=138029"
        class="about-rectangle11"
      />
      <span class="about-text02">
        <span>Placard de Porche: Fashion Classification Made Easy</span>
        <br />
        <br />
        <span class="about-text06">
          Placard de Porche is a leading fashion classification company
          specializing in organizing and categorizing the latest trends in the
          fashion industry. Our expert team curates and accurately classifies
          fashion styles, enabling businesses to optimize their inventory,
          enhance the shopping experience, and drive sales. With cutting-edge
          technology and a passion for fashion, we revolutionize how fashion
          products are categorized and discovered. Join us at Placard de Porche
          and unlock your fashion business&apos;s true potential.
        </span>
        <span class="about-text07"></span>
        <br class="about-text08" />
        <br />
        <span class="about-text10">Contact us today to learn more.</span>
        <br class="about-text11" />
        <span class="about-text12">Email: placarddeporche@gmail.com</span>
        <br class="about-text13" />
        <span class="about-text14">Phone: 0102345678</span>
      </span>
      <div class="about-frame1">
        <img
          alt="Rectangle123910"
          src="https://live.staticflickr.com/65535/53026951895_2acbb74f7f_n.jpg"
          class="about-rectangle12"
        />
        <img
          alt="Rectangle133912"
          src="https://live.staticflickr.com/65535/53026951895_2acbb74f7f_n.jpg"
          class="about-rectangle13"
        />
        <img
          alt="Rectangle193931"
          src="https://live.staticflickr.com/65535/53024996270_bf117610b8_w.jpg"
          class="about-rectangle19"
        />
        <img
          alt="Rectangle143913"
          src="https://live.staticflickr.com/65535/53026951895_2acbb74f7f_n.jpg"
          class="about-rectangle14"
        />
        <span class="about-text15"><span>View Clothing</span></span>
        <span class="about-text17">
          <br />
          <br />
          <br />
          <span>
            To see your uploaded clothing items, go to the &quot;View
            Clothing&quot; section.
          </span>
          <br />
          <span>
            Here, you will find a visual representation or list view of your
            collection.
          </span>
          <br />
          <span>
            You can filter and sort the items based on various criteria to
            easily locate specific clothing pieces.
          </span>
        </span>
        <img
          alt="Rectangle153914"
          src="https://live.staticflickr.com/65535/53026951895_2acbb74f7f_n.jpg"
          class="about-rectangle15"
        />
        <img
          alt="Rectangle163915"
          src="https://live.staticflickr.com/65535/53026951895_2acbb74f7f_n.jpg"
          class="about-rectangle16"
        />
        <span class="about-text26">
          <br />
          <br />
          <br />
          <span>
            Visit our website and click on the &quot;Register&quot; or
            &quot;Login&quot; button.
          </span>
          <br />
          <span>
            If you are a new user, create an account by providing the required
            information.
          </span>
          <br />
          <span>
            If you are an existing user, simply log in using your credentials.
          </span>
        </span>
        <span class="about-text35"><span>Register/Login</span></span>
        <span class="about-text37"><span>Add Clothing</span></span>
        <span class="about-text39">
          <br />
          <br />
          <br />
          <span>
            Once logged in, navigate to the &quot;Add Clothing&quot; section.
          </span>
          <br />
          <span>
            Click on the &quot;Add New&quot; button to upload images of your
            clothing items.
          </span>
          <br />
          <span>
            Provide details such as item type, color, size, and any additional
            information.
          </span>
          <br />
          <span>
            Save the information to add the clothing item to your collection.
          </span>
        </span>
        <span class="about-text50"><span>Merge Outfits</span></span>
        <span class="about-text52">
          <span>
            In the &quot;Merge Outfits&quot; section, you can take your
            creativity a step further.
          </span>
          <br />
          <span>
            Select multiple outfits that you would like to merge into a single
            ensemble.
          </span>
          <br />
          <span>
            Arrange the pieces from each outfit to create a cohesive and unique
            look.
          </span>
          <br />
          <span>
            Experiment with different combinations and explore new style
            possibilities.
          </span>
        </span>
        <span class="about-text60"><span>View Outfits</span></span>
        <span class="about-text62">
          <br />
          <br />
          <br />
          <span>
            Once you&apos;ve created outfits, head to the &quot;View
            Outfits&quot; section.
          </span>
          <br />
          <span>
            Here, you&apos;ll find a gallery of all your saved outfits.
          </span>
          <br />
          <span>
            Click on an outfit to view it in detail and get inspiration for your
            fashion choices.
          </span>
          <br />
          <span>
            You can also edit, delete, or share your outfits with friends and
            social media platforms.
          </span>
        </span>
        <img
          alt="Rectangle183930"
          src="https://live.staticflickr.com/65535/53024606396_274fc543fc_w.jpg"
          class="about-rectangle18"
        />
        <img
          alt="Rectangle203932"
          src="https://live.staticflickr.com/65535/53025095463_eb4ca39563_w.jpg"
          class="about-rectangle20"
        />
        <img
          alt="Rectangle213933"
          src="https://live.staticflickr.com/65535/53024782094_8a90f20585_w.jpg"
          class="about-rectangle21"
        />
        <img
          alt="Rectangle223934"
          src="https://live.staticflickr.com/65535/53025095473_87f375c6d6_w.jpg"
          class="about-rectangle22"
        />
        <img
          alt="Rectangle253939"
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/070a9ebf-29e5-45a9-96e9-806f48c3f06d?org_if_sml=1955"
          class="about-rectangle25"
        />
        <span class="about-text73"><span>A Step-By-Step Guide</span></span>
        <img
          alt="Rectangle243938"
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/070a9ebf-29e5-45a9-96e9-806f48c3f06d?org_if_sml=1955"
          class="about-rectangle24"
        />
        <span class="about-text75"><span>How To Use:</span></span>
      </div>
      {% if user.is_authenticated %}
      <img
        alt="Rectangle264692"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/d9475ebd-de3c-49c5-a895-b407848d1e99?org_if_sml=1251"
        class="about-rectangle26"
      />
      <img
        alt="Rectangle44693"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/297bdadb-e927-4cf9-b19d-cf25f2b5262d?org_if_sml=1465"
        class="about-rectangle4"
      />
      <img
        alt="Rectangle274610"
        src="/rectangle274610-tbah.svg"
        class="about-rectangle27"
      />
      <span class="about-text77"><a href="{% url 'view_outfit' %}">View Outfits</span></a></span>
      <span class="about-text79"><a href="{% url 'logout' %}?next=/"><span>LOGOUT</span></a></span>
      <span class="about-text81"><a href="{% url 'test' %}">Merge</span></a></span>
      <span class="about-text83"><a href="{% url 'view_clothing' %}?next=/"><span>View Clothings</span></a></span>
      <span class="about-text85"><a href="{% url 'add_clothing' %}?next=/"><span>Add Clothing</span></a></span>
      <span class="about-text87"><a href="{% url 'about' %}"><span>About</span></a></span>
      <span class="about-text89"><a href="/"><span>Home</span></a></span>
      <span class="about-text91"><a href="/"><span>Placard De Porche</span></a></span>
      <span class="add-outfits"><a href="{% url 'add_outfit' %}?next=/"><span>Add Outfit</span></a></span>

      {% else %}
      <style>
        .main-page-before-text10 {
  top: 86px;
  left: 1257px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page-before-text12 {
  top: 86px;
  left: 894px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page-before-text14 {
  top: 86px;
  left: 991px;
  color: rgba(0, 0, 0, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page-before-text16 {
  top: 86px;
  left: 1085px;
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page-before-text18 {
  top: 86px;
  left: 797px;
  color: rgba(0, 0, 0, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page-before-rectangle26 {
  top: 62px;
  left: 1239px;
  width: 107px;
  height: 67px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.main-page-before-rectangle4 {
  top: 62px;
  left: 773px;
  width: 411px;
  height: 68px;
  position: absolute;
}
.main-page-after-text22 {
  top: 79px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Lato;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
      </style>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/d9b7bc52-5667-4dae-8c5b-1730d47a2838?org_if_sml=1251"
        alt="Rectangle265591"
        class="main-page-before-rectangle26"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/8867ae7a-7106-4434-ad76-24dd23ac219d/288026cc-11de-4701-bea9-adf229bc8f13?org_if_sml=1346"
        alt="Rectangle45592"
        class="main-page-before-rectangle4"
      />
      <span class="main-page-before-text18"><a href="/"><span>Home</span></a></span>
      <span class="main-page-before-text16"><a href="{% url 'register' %}"><span>Register</span></a></span>
      <span class="main-page-before-text12"><a href="{% url 'about' %}"><span>About</span></a></span>
      <span class="main-page-before-text14"><a href="{% url 'login' %}"><span>Login</span></a></span>
      <span class="main-page-before-text10"><a href="{% url 'logout' %}?next=/"><span>LOGOUT</span></a></span>
      <span class="main-page-after-text22"><a href="/"><span>Placard De Porche</span></a></span>
      {% endif %}

    </div>
  </div>
</div>